body {
	margin: 0px;
	background-color: #1f1f1f;
}

h1 {
	font-family: 'Lato', sans-serif;
	color: white;
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
}

h2 {
	font-family: 'Lato', sans-serif;
	color: white;
	font-size: 40px;
	font-weight: normal;
	text-transform: uppercase;
}

h3 {
	font-family: 'Lato', sans-serif;
	color: white;
	font-size: 60px;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1;
	margin: 0;
}

h3 span {
	color: #01b1b1;
	font-weight: bold;
}

a, p {
	font-family: 'Lato', sans-serif;
	color: white;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.8;
}

a {
	text-decoration: none;
	border-bottom: white solid 1px;
	transition: all 0.2s ease;
}

a:hover {
	color: #01b1b1;
	border-bottom: #01b1b1 solid 1px;
	transition: all 0.2s ease;
}

.header {
	width: 100vw;
	height: 900px;
	text-align: center;
	margin: 0 auto;
	display: block;
	overflow: hidden;
	background: url('assets/header.png') #1f1f1f no-repeat;
	background-position: center -100px;
	background-size: 2200px;
	background-attachment: fixed;
}

.logo {
	max-width: 500px;
	z-index: 1000;
	position: relative;
	padding-top: 450px;
	padding-bottom: 40px;
}

.header a {
	font-family: 'Lato', sans-serif;
	background: transparent;
	color: #fff;
	border: #fff solid 2px;
	border-radius: 40px;
	padding: 10px 20px;
	width: 140px;
	font-size: 16px;
	text-align: center;
	margin: 0 auto;
	display: block;
}

.header a:hover{
	border: 2px solid  #01b1b1;
	color:  #01b1b1;
}

#mc-embedded-subscribe {
	font-family: 'Lato', sans-serif;
	background: transparent;
	border: 2px solid  #fff;
	border-radius: 40px;
	padding: 10px 20px;
	color:  #fff;
	margin-top: 30px;
	text-transform: uppercase;
	line-height: 1.8;
	transition: all 0.2s ease;
}

#mc-embedded-subscribe:hover {
	border: 2px solid  #01b1b1;
	color:  #01b1b1;
	transition: all 0.2s ease;
}

.press {
	display: block;
	width: 100%;
	background: #222222;
	text-align: center;
	padding: 100px 0px;
}

.press img{
	padding: 40px 50px 0px;
	height: 60px;
}

.about {
	padding: 100px 0px;
	text-align: justify;
	max-width: 600px;
	margin: 0 auto;
	-moz-text-align-last: center;
    text-align-last: center;
}

.black-white {
	height: 100vh;
	background: url('./assets/lamps.png') #1b1b1b no-repeat;
	background-size: 90vh;
	background-position: 8vw top;
	background-attachment: fixed;
}

.text{
	float: right;
	max-width: 450px;
	padding: 45vh 200px 0px 0px;
}

.form {
	padding: 100px 0px;
	text-align: justify;
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
}

.form input{
	font-family: 'Lato', sans-serif;
	color: white;
	font-size: 16px;
	font-weight: normal;
	text-align: left;
	text-transform: uppercase;
}

.form h2 {
	margin: 10px auto;
}

.form p{
	max-width: 426px;
	text-align: justify;
	margin: 0 auto;
	padding-bottom: 10px;
}

.mc-field-group input{
	background: transparent;
	line-height: 1.8;
	border: none;
	border-bottom: 2px solid white;
	margin-top: 20px;
	width: 426px;
}

.footer {
	width: 100vw;
	height: 140px;
	background:	#1b1b1b;
}

.left {
	float: left;
	text-transform: uppercase;
	padding-left: 200px;
	padding-top: 42px;
}

.right {
	float: right;
	text-transform: uppercase;
	padding-right: 200px;
	padding-top: 42px;
}

.footer a {
	font-weight: bold;
	border: none;
}

.response{
	font-family: 'Lato',sans-serif;
    color: #fff;
    width: 446px;
    margin: 0 auto;
    padding-top: 20px;
}

#mc_embed_signup div.mce_inline_error {
    padding: 5px 10px;
    background-color: #6B0505;
    font-weight: normal !important;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    z-index: 1;
    color: #fff;
    width: 408px;
    margin: 0px auto !important;
}

@media only screen and (min-width: 320px) and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {

	.header {
		height: 500px;
		background-size: 1400px;
	}

	h2, h3{
		font-size: 30px;
	}

	.logo {
	max-width: 300px;
	z-index: 1000;
	position: relative;
	padding-top: 200px;
	padding-bottom: 40px;
	}

	.press {
		display: block;
		width: 100%;
		background: #222222;
		text-align: center;
		padding: 60px 0px;
	}

	.press img{
		padding: 20px 15px 0px;
		height: 40px;
	}

	.about {
		padding: 60px 20px;
		text-align: justify;
		max-width: 600px;
		margin: 0 auto;
		-moz-text-align-last: center;
	    text-align-last: center;
	}

	.black-white {
		height: 60vh;
		background: url('./assets/lamps.png') #4d4d4d no-repeat;
		background-size: 50vh;
		background-position: center top;
		background-attachment: fixed;	
		background-blend-mode: multiply;
	}

	.text{
		padding: 20vh 20px 0px;
		text-align: justify;
		max-width: 600px;
		margin: 0 auto;
		-moz-text-align-last: center;
	    text-align-last: center;
	}

	.form {
		padding: 100px 20px;
		text-align: justify;
		max-width: 600px;
		margin: 0 auto;
		text-align: center;
	}

	.form input{
		font-family: 'Lato', sans-serif;
		color: white;
		font-size: 16px;
		font-weight: normal;
		text-align: left;
		text-transform: uppercase;
	}

	.mc-field-group input{
		background: transparent;
		line-height: 1.8;
		border: none;
		border-bottom: 2px solid white;
		margin-top: 20px;
		width: 100%;
	}

	.left {
		float: none;
		text-align: center;
		text-transform: uppercase;
		padding-top: 42px;
		padding-left: 0px;
		margin: 0 auto;
	}

	.right {
		float: none;
		padding-right: 0px;
		text-align: center;
		text-transform: uppercase;
		padding-top: 10px;
		margin: 0 auto;
	}

	.footer a {
		font-weight: bold;
		border: none;
	}

}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {

	.left {
		float: none;
		text-align: center;
		text-transform: uppercase;
		padding-top: 42px;
		padding-left: 0px;
		margin: 0 auto;
	}

	.right {
		float: none;
		padding-right: 0px;
		text-align: center;
		text-transform: uppercase;
		padding-top: 10px;
		margin: 0 auto;
	}

	.footer a {
		font-weight: bold;
		border: none;
	}


}