@font-face {
  font-family: Cera Pro;
  font-weight: 300;
  font-display: swap;
  src: url(./fonts/Cera_Pro_Light.otf);
}

@font-face {
  font-family: Cera Pro;
  font-weight: 500;
  font-display: swap;
  src: url(./fonts/Cera_Pro_Medium.otf);
}

@font-face {
  font-family: Argent CF;
  font-weight: 300;
  font-display: swap;
  src: url(./fonts/ArgentCF-Light.otf);
}

body {
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}

h1, blockquote {
  font-family: Argent CF;
  font-weight: 300;
  font-size: 56px;
  color: #051827;
  line-height: 72px;
  max-width: 600px;
  margin-bottom: 40px;
}

h2 {
  font-family: Argent CF;
  font-weight: 300;
  font-size: 40px;
  color: #051827;
  line-height: 64px;
  max-width: 600px;
  margin-bottom: 40px;
}

h6 {
  font-family: Cera Pro;
  opacity: 0.5;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 4px;
  line-height: 24px;
  text-transform: uppercase;
}

p, h2 span {
  font-family: Cera Pro;
  font-weight: 300;
  font-size: 20px;
  color: #051827;
  line-height: 32px;
  max-width: 540px;
  margin: 0 0 20px 60px;
}

a {
  font-family: Cera Pro;
  font-weight: 500;
  font-size: 20px;
  color: #051827;
  line-height: 32px;
}

nav {
  margin: 100px auto 200px;
  max-width: 1340px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

nav a, footer a{
  font-family: Cera Pro;
  font-weight: 500;
  color: #051827;
  font-size: 16px;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
}

footer .links {
  flex-direction: row !important;
}

nav .links a, footer .links a{
  margin-left: 50px;
}

section.content {
  max-width: 1140px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  padding: 0 20px;
}

.content div, .intro {
  display: flex;
  flex-direction: column;
}

.intro {
  align-items: flex-start !important;
}

img.fw, video.fw {
  width: 100%;
  margin: 100px 0;
}

.right {
  align-items: flex-end;
  position: relative;
}

.left {
  align-items: flex-start;
  position: relative;
}

.right.main, .left.main {
  width: 700px;
  
}

.right.small, .left.small {
  width: 500px;
}

.project .main.right, .project .main.left {
  align-items: flex-end;
}

.divider {
  width: 980px;
  height: 1px;
  background: #0A3039;
  opacity: 0.5;
  margin: 100px auto;
}

blockquote {
  width: 400px;
}

.quote {
  position: relative;
  justify-content: center;
  margin-left: 100px;
}

.quote-background {
  position: absolute;
  background: url(./img/dots.svg) no-repeat;
  background-size: contain;
  background-position: center;
  width: 580px;
  height: 200px;
  right: 0;
  z-index: -10;
}

.button {
  border: 1px solid #0A3039;
  padding: 20px;
  font-family: Cera Pro;
  text-transform: uppercase;
  font-size: 16px;
  color: #051827;
  letter-spacing: 4px;
  line-height: 24px;
  margin-right: auto;
  margin-left: 70px;
  transition: all 0.2s ease-in-out;
}

a.button:hover {
  background: #051827;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

footer {
  max-width: 100%;
  background: #000E1F;
  padding: 50px 20px;
}

footer .content{
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

footer a {
  color: #fff;
  font-weight: 300;
}

.content.last {
  margin-bottom: 100px;
}

.about {
  margin-top: 200px !important;
}

.about .quote-background {
  left: -480px;
}

.uni {
  background: #051827;
  max-width: 100% !important;
  padding: 200px 20px !important;
  justify-content: center;
  padding-left: calc((100% - 1300px)/2);
  padding-right: calc((100% - 1300px)/2);
}

.uni .quote-background {
  background-image: url(./img/dots_white.svg);
  z-index: 0;
  background-size: 795px;
}

.content.project {
  margin-top: 100px;
}

.project .left .quote-background {
  right: 25px;
  bottom: -50px;
}


.project .right .quote-background {
  left: 25px;
  bottom: -50px;
}

.content.hero {
  z-index: -1;
  padding: 316px 0 200px;
  max-width: 100%;
  margin-top: -332px;
  flex-direction: column;
  align-items: flex-start;
  background-image: url('./img/home/phone.png'), linear-gradient(-180deg, #FFCCCC 0%, #FFB6B6 100%);
  background-position: right bottom, center;
  background-repeat: no-repeat, repeat;
  background-size: 670px 584px, auto;
}

.content.hero div {
  max-width: 1140px;
  margin: 0 auto;
  align-items: flex-start;
  padding: 0 20px;
  width: 100%;
}

.content.hero h1, .content.hero .button {
  max-width: 500px;
  margin-left: 50px;
}


/* Individual Sizes For Images */

.flowchart {
  width: 514px;
  height: 461px;
}

.icon-pop {
  width: 320px;
  height: 360px;
}

.icon-list {
  margin-bottom: -3px !important;
}

.portobello {
  width: 400px;
  height: 388px;
}

.about_image {
  width: 100%;
  height: auto;
  max-width: 300px;
  max-height: 450px;
  transition: all 0.2s ease-in-out;
}

.project_image {
  max-width: 400px;
  max-height: 600px;
  width: 100%;
  height: auto;
  transition: all 0.2s ease-in-out;
}

.show {
  display: flex !important;
}

.hide {
  display: none !important;
}

#menu_button, .close_button {
  display: none;
  cursor: pointer;
}

/* Page Specific Type Rules */

.about h2 {
  margin-bottom: 10px;
  margin-top: 40px;
}

.about h2 span {
  margin-left: 20px;
  white-space: nowrap;
}

.about h6 {
  margin-bottom: 20px;
}

.uni h2, .uni h6, .uni p, .uni a, .uni h2 span {
  color: #fff !important;
}

.hero a, .project a {
  text-decoration: none;
}

.content.hero a {
  margin-left: 0;
}

.right h1, .left h1 {
  margin-left: 70px;
}

/* Instagram */

.instagram {
  justify-content: center;
  max-width: none!important;
  flex-direction: column;
  padding: 100px 20px !important
}

.instagram .logo {
  font-size: 16px;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.instagram .feed {
  display: flex;
  flex-direction: row;
  max-width: none;
}

.instagram .feed img {
  width: 450px;
  height: 450px;
  margin: 0 50px;
  box-shadow: 0 25px 25px -12px rgba(0,0,0,0.10);
}

/* Hover States */

a:hover .project_image, a:hover .about_image {
  margin-top: -10px;
  margin-bottom: 10px;
  box-shadow: 0 25px 25px -12px rgba(0,0,0,0.10);
  transition: all 0.2s ease-in-out;
}

/* Media Queries */

@media only screen and (max-width: 720px) {

  .right.small, .left.small, .right.main, .left.main {
    width: auto;
  }

  nav {
    margin: 50px auto 100px;
    flex-wrap: wrap;
  }

  #menu_button, .close_button {
    display: inline;
  }

  .close_button {
    display: inline;
    margin-bottom: 20px !important;
  }

  nav .links {
    display: none;
    text-align: right;
    flex-direction: column;
  }

  nav .links a, footer .links a {
    margin: 0;
  }

  section {
    flex-direction: column;
  }

  h1, blockquote {
    font-size: 40px;
    line-height: 64px;
  }

  .quote {
    margin-bottom: 60px;
  }

  blockquote {
    max-width: calc(100% - 100px);
    margin: 0;
  }

  p{
    margin: 0 0 20px 0;
  }

  .about h2 span {
    margin: 0;
  }

  .about {
    margin-top: 100px !important;
  }

  .uni {
    padding: 100px 20px !important
  }

  .about .quote-background {
    background: none !important;
  }

  .icon-pop {
    display: none;
  }

  .icon-list {
    margin-top: 20px !important;
  }

  .flowchart {
    margin: 40px 0;
  }

  .button {
    margin-left: 0;
  }

  .content.hero {
    padding: 316px 0 100px;
    background: linear-gradient(-180deg, #FFCCCC 0%, #FFB6B6 100%);
  }

  .swap {
    flex-direction: column-reverse;
  }
  
  .content.hero div {
    max-width: calc(100% - 100px);
  }

  .content.hero h1, .content.hero .button, .right h1, .left h1 {
    margin-left: 0;
  }

  .project .quote-background {
    display: none;
  }

  .project h1 {
    margin-top: 40px;
  }

  footer .content, footer .links {
    margin-top: 20px !important;
    flex-direction: column !important;
  }

  .about_image {
    max-width: 100%;
    max-height: none;
  }

}